# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Pytest / Coverage / Linting
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# IDE settings
.vscode/
.idea/
.env

# Local Database
backend/storage


